@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$main-font: 'Poppins';
$bg-color: '#fff';
$text-color: '#242424';
$icon-size: 66px;
$brands-hover: orangered;
$list-fweight: bold;
$list-fsize: 14px;
$body-padding: 50px;
$body-margin: 10px;
$radius: 10px;
$image-padding: 10px;
$listing-p-color: rgba(68, 68, 68, 0.991);
$footer-bgcolor: black;